#about-company img{
	width: 400px;
	float: right;
	padding: 20px;
	/*№ 3. Выравниваем текст и загловок
Если посмотреть на макет, то видно, что заголовок у нас по центру, а основной текст ровный слева и справа. Это делается одним свойством
*/
}
#company{
	text-align: center;
}